.reveal-text-wrapper {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.reveal-text-hidden {
  visibility: hidden;
  min-width: 150px;
}

.reveal-text-remove {
  display: none;
}

.reveal-text-blocker {
  position: absolute;
  border-radius: 3px;
  top: 0;
  min-width: 50px;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 100000;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
